<div class="container">
    <form action="/insertarCliente" method="get">
        <div class="row">
            <div class="col-auto">
                <input type="text" id="txtIndentificador" name="txtIdentificador" class="form-control" placeholder="identificador">
            </div>
            <div class="col-auto">
                <input type="text" id="txtNombreCompania" name="txtNombreDeCompania" class="form-control" placeholder="Nombre de compañía">
            </div>
            <div class="col-auto">
                <input type="text" id="txtNombreContacto" name="txtNombreDeContacto" class="form-control" placeholder="Nombre de contacto">
            </div>
            <button type="submit" class="btn btn-primary col-auto">Insertar {{titulo}}</button>
        </div>
    </form>
</div>